.container {
  width: 100%;
  height: 100vh;
  .login {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    &_hero {
      flex: 3;
      width: 100%;
      height: 35%;
      background-color: var(--primarycolor);
      & > img {
        object-fit: scale-down;
      }
    }
    &_body {
      flex: 6;
    }
    &_footer {
      flex: 0.5;
      width: 100%;
      align-self: flex-end;
      display: flex;
      justify-content: space-between;
      border-radius: 1em/5em;
      & > button {
        width: 100%;
        height: 100%;
        background-color: var(--primarycolor);

        &:hover {
          background-color: #4463edb5;
        }

        & > img {
          filter: invert(1.4);
        }
      }
    }
  }
}
