<section class="container">
    <article class="login">
        <header class="login_hero">
            <img src="../assets/icon.png" alt="icon" width="100%" height="100%">
        </header>
        <div class="login_body">
            <router-outlet></router-outlet>
        </div>
        <footer class="login_footer">
            <button routerLink="forgot"> <img src="../assets/forgot.png" height="50px"></button>
            <button routerLink="register"><img src="../assets/createAccount.png" height=" 50px"></button>
            <button routerLink="login"><img src="../assets/auth.png" height=" 50px"></button>
        </footer>
    </article>
</section>