<section class="auth-struct">
    <article class="auth">
        <header class="auth_hero">
            <img src="../assets/icon.png" alt="icon" width="100%" height="100%">
        </header>
        <div class="auth_body">
            <router-outlet></router-outlet>
        </div>
        <footer class="auth_footer">
            <button routerLink="forgot"> <img src="../assets/forgot.png" height="42px"></button>
            <button routerLink="register"><img src="../assets/createAccount.png" height=" 42px"></button>
            <button routerLink="login"><img src="../assets/auth.png" height=" 42px"></button>
        </footer>
    </article>
</section>