<section class="container">
    <article class="login">
        <header class="login_header">
            <img src="https://digitalhub.fifa.com/transform/3a170b69-b0b5-4d0c-bca0-85880a60ea1a/World-Cup-logo-landscape-on-dark?io=transform:fill&quality=75"
                alt="logoBee" width="100%" height="100%">
        </header>
        <footer class="login_footer">

            <label for="Email">Name</label>
            <input type="text" id="Name" name="Name" />

            <label for="password">Password</label>
            <input type="text" id="password" name="password" />

            <label for="Email">Email</label>
            <input type="text" id="Email" name="Email" />

            <label for="password">Password</label>
            <input type="text" id="password" name="password" />

            <label for="
            confirmPassword">
                Confirm Password</label>
            <input type="text" id="
            confirmPassword" name="
            confirmPassword" />
            <br>

            <button>Create</button>
        </footer>
    </article>

</section>