.card {
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  border-radius: solid;
  padding: 1rem;
  background-image: radial-gradient(
    circle at 89.7% 89.7%,
    #9990ff 0,
    #4361ed 50%,
    #0039c8 100%
  );
  & > h6 {
    font-weight: bolder;
    font-size: 26px;
    color: white;
    font-weight: bolder;
    align-self: center;
  }
  & > dl {
    display: flex;
    justify-content: space-between;
    & > :is(dd, dt) {
      color: whitesmoke;
      font-size: 20px;
      font-weight: bolder;
    }
  }
}
