/* You can add global styles to this file, and also import other style files */
:root {
  --primarycolor: #4462ed;
}
html,
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0 auto;
  background-color: hsl(0deg 0% 100%);
}
